<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="dbConStr" connectionString="Server=172.17.0.212;Database=hsdatabase1;UserID=root;Password=root" />
  </connectionStrings>
  <appSettings>
    <!-- Log打印级别,由低到高分别为：debug、info、warning、error、nowrite  -->
    <add key="logLevel" value="debug" />
    <!-- Log最大字节数，单位字节  -->
    <add key="MaxLogFileSize" value="1000000" />
    <!-- Log存放路径  -->
    <add key="LogFolder" value="d:\\httpserver\\log" />
    <!-- HTTP SERVER 的IP地址  -->
    <add key="HttpServerIp" value="192.168.88.101" />
    <!-- HTTP SERVER 的用户名  -->
    <add key="HttpServerName" value="serUser" />
    <!-- HTTP SERVER 的密码  -->
    <add key="HttpServerPasswd" value="serPassWd" />
    <!-- NTP SERVER 的地址  -->
    <add key="Ntp1ServerPath" value="172.17.0.212" />
    <add key="Ntp2ServerPath" value="172.17.0.212" />
    <!-- 反向连接AP的用户名和密码(目前只能为test、test)  -->
    <add key="ConnectionRequestUsername" value="test" />
    <add key="ConnectionRequestPassWd" value="test" />
    <!-- HTTP 文件服务器根在本地的路径  -->
    <add key="UploadServerRootPath" value="d:\\" />
    <!-- HTTP 文件服务器的Url  -->
    <add key="UploadServerUrl" value="http://172.17.0.212:8192" />
    <!-- HTTP 文件服务器的用户名  -->
    <add key="UploadServerUser" value="" />
    <!-- HTTP 文件服务器的密码  -->
    <add key="UploadServerPasswd" value="" />
    <!-- 多长时间（秒）未收到AP心跳，认为AP离线  -->
    <add key="ApOffLineTime" value="70" />
    <!-- TR069根节点（"Device."或者"InternetGatewayDevice."）  -->
    <add key="XmlRootNode" value="InternetGatewayDevice." />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>